pip==9.0.1
wheel==0.30.0
watchdog==0.8.3
flake8==3.5.0
tox==2.9.1
coverage==4.4.2
twine==1.9.1
cryptography==2.1.4
PyYAML==3.11
scikit-learn==0.19.1
numpy==1.13.3
scipy==1.0.0
jieba==0.39
nltk==3.2.5
pandas==0.21.0
tensorflow-gpu==1.2.0
